.logo-container {
  display: flex;
  position: relative;
  flex-direction: column;
  text-decoration: none;
}
.logo-container1 {
  display: flex;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
}
.logo-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.logo-text {
  align-self: center;
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  letter-spacing: 5px;
  text-decoration: none;
}
.logo-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 5px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  background-image: radial-gradient(circle at left, rgb(251, 245, 226) 1.00%,rgb(254, 223, 223) 51.00%,rgb(209, 241, 238) 99.00%);
}

































.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-header {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 9999;
  position: fixed;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #ffffff;
}
.about-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-navlink {
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.about-navlink:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.about-navlink1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.about-navlink1:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.about-text {
  text-decoration: none;
}
.about-text01 {
  font-weight: 700;
  text-decoration: none;
}
.about-white-space {
  flex: 0 0 auto;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-start;
}
.about-hero-section {
  width: 700px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.about-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 326px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.about-image {
  width: 326px;
  height: 326px;
  object-fit: cover;
}
.about-image1 {
  width: 167px;
  height: 185px;
  object-fit: cover;
}
.about-text02 {
  color: var(--dl-color-gray-1e293b);
  text-align: center;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.about-container2 {
  flex: 0 0 auto;
  width: 700px;
  height: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  background-image: radial-gradient(circle at left, rgb(251, 245, 226) 1.00%,rgb(254, 223, 223) 51.00%,rgb(209, 241, 238) 99.00%);
}
.about-text04 {
  color: var(--dl-color-gray-1e293b);
  width: 700px;
  align-self: center;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.about-text05 {
  font-weight: 400;
}
.about-li {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.about-text06 {
  font-size: 1.17em;
}
.about-li01 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.about-text07 {
  font-size: 1.17em;
}
.about-li02 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.about-text08 {
  font-size: 1.17em;
}
.about-li03 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.about-text09 {
  font-size: 1.17em;
}
.about-li04 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.about-text10 {
  font-size: 1.17em;
}
.about-li05 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.about-text11 {
  font-size: 1.17em;
}
.about-li06 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.about-text12 {
  font-size: 1.17em;
}
.about-li07 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.about-text13 {
  font-size: 1.17em;
}
.about-text15 {
  text-decoration: underline;
}
.about-li08 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.about-text16 {
  font-size: 1.17em;
}
.about-li09 {
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
}
.about-text17 {
  color: var(--dl-color-gray-1e293b);
  width: 700px;
  align-self: center;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.about-text18 {
  font-weight: 400;
}
.about-link1 {
  display: contents;
}
.about-text19 {
  color: var(--dl-color-gray-1e293b);
  width: 700px;
  align-self: center;
  text-align: center;
  line-height: 1.5;
  text-decoration: none;
}
.about-image2 {
  width: 90%;
  object-fit: cover;
  padding-top: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.about-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.about-container3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-image3 {
  object-fit: cover;
  padding-right: var(--dl-space-space-halfunit);
}
.about-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-link2 {
  display: contents;
}
.about-image4 {
  object-fit: cover;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.about-image4:hover {
  transform: scale(1.2);
  transition: .2s;
}
@media(max-width: 767px) {
  .about-header {
    height: auto;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-nav {
    height: auto;
    align-self: center;
    flex-direction: row;
    justify-content: center;
  }
  .about-navlink1 {
    margin-left: 0;
  }
  .about-hero-section {
    width: 90%;
  }
  .about-container1 {
    width: 80%;
    height: auto;
  }
  .about-image {
    width: 60%;
    height: auto;
  }
  .about-image1 {
    width: 30%;
    height: auto;
  }
  .about-container2 {
    width: 100%;
  }
  .about-text04 {
    width: 100%;
  }
  .about-text17 {
    width: 100%;
  }
  .about-text19 {
    width: 100%;
  }
  .about-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .about-header {
    padding: var(--dl-space-space-unit);
  }
  .about-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
}
